body {
    display: grid;
    grid-template-areas: 'navbar' 'banner' 'main' 'section' 'contact' 'footer';
    grid-auto-columns: 100%;
    margin: 0;
}

nav {
    grid-area: navbar;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

nav a:hover {
    color: #0000ff;
}

nav img {
    width: 85px;
}

nav div:nth-child(2) {
    display: none;
}

nav div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 20px;
}

header {
    grid-area: banner;
    background-image: url(../img/ricardin.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cabecalho {
    grid-area: main;
    background-color: #00FF80;
}

#cabecalho h1,
#cabecalho h2 {
    text-align: center;
    color: #000000;
}

.titulo {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 3px;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.subtitulo {
    width: 350px;
}

input:focus {
    color: #ff0000;
}

input::placeholder {
    color: #0000ff;
}

@media screen and (max-width: 800px) {
    nav div:nth-child(2) {
        display: inline-block;
    }
    nav div:nth-child(3) {
        display: none;
    }
    .icon-burguer {
        width: 55px;
    }
    header {
        background-image: url(../img/ricardin-clone.jpg);
        height: 400px;
    }
}