/* *{
    margin: 0;
} */

nav{
    background-color: brown;

}

header{
    background-color: #c5c5c5;
}

.topo img{
    width: 100%;
    height: 500px;
}
h1{
    color: black;
    text-transform: uppercase;

}

ul{
    list-style: none;

}